@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=STIX+Two+Text:ital,wght@0,400;0,500;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overflow {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.bg {
  background-image: url(../img/main-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #1B1B1B;
  background-blend-mode: multiply;
  background-size: cover;
}

.bg80 {
  position: relative;
}
.bg80::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/main-bg.png);
  background-color: #1B1B1B;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: -1;
}

.bg40 {
  position: relative;
}
.bg40::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/main-bg.png);
  background-color: #1B1B1B;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: -1;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1231px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: flex;
  position: relative;
  width: 300px;
  height: 90px;
  background-color: #DA4533;
  color: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.15s ease;
}
.btn:hover::after {
  opacity: 1;
  transform: rotate(-6deg);
}

.btn-small {
  display: flex;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 135px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #DA4533;
  color: #DA4533;
  margin-right: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}
.btn-small::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: #DA4533;
  top: 19px;
  right: -15px;
  transition: all 0.15s ease;
}
.btn-small::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-top: 1px solid #DA4533;
  border-right: 1px solid #DA4533;
  transform: rotate(45deg);
  top: 16px;
  right: -15px;
  transition: all 0.15s ease;
}
.btn-small:hover:before, .btn-small:hover::after {
  right: -24px;
}

.btn-back {
  position: relative;
  width: 28px;
  height: 28px;
  border: 1px solid #DA4533;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.btn-back:hover::after, .btn-back:hover::before {
  left: -16px;
}
.btn-back::before {
  cursor: pointer;
  content: "";
  position: absolute;
  width: 24px;
  height: 1px;
  background-color: #DA4533;
  top: 50%;
  left: -10px;
  transition: all 0.1s ease;
}
.btn-back::after {
  cursor: pointer;
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-left: 1px solid #DA4533;
  border-bottom: 1px solid #DA4533;
  transform: rotate(45deg);
  top: 10px;
  left: -10px;
  transition: all 0.1s ease;
}

.slick-slider {
  transform: translateX(10px);
}

.arrow-next, .arrow-prev {
  cursor: pointer;
  position: absolute;
  bottom: 180px;
  border: 1px solid #DA4533;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.arrow-prev {
  left: calc(50% - 50px);
}
.arrow-prev::before {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  left: -20px;
  top: 50%;
  height: 1px;
  background-color: #DA4533;
}
.arrow-prev::after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: calc(50% - 5px);
  left: -20px;
  border-top: 1px solid #DA4533;
  border-left: 1px solid #DA4533;
  transform: rotate(-45deg);
}
.arrow-next {
  right: calc(50% - 50px);
}
.arrow-next::before {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  right: -20px;
  top: 50%;
  height: 1px;
  background-color: #DA4533;
}
.arrow-next::after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: calc(50% - 5px);
  right: -20px;
  border-top: 1px solid #DA4533;
  border-right: 1px solid #DA4533;
  transform: rotate(45deg);
}

.header::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 70px;
  background-color: #1B1B1B;
}
.header__inner {
  position: relative;
  z-index: 100;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  height: 30px;
  width: 130px;
  overflow: hidden;
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__burger {
  display: none;
}
.header__contacts {
  display: flex;
  gap: 20px;
}
.header__contacts-tel {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.header__contacts-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #DA4533;
}
.header__nav {
  display: flex;
  gap: 30px;
}
.header__nav-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
}
.header__nav-link:nth-child(3) {
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .header__inner {
    padding: 12px 0;
  }
  .header__menu {
    background-color: #1B1B1B;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateY(-200%);
    transition: all 0.15s ease;
  }
  .header__menu::before {
    content: "";
    width: 160px;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5C5C5C;
  }
  .header__menu.active {
    transform: translateY(0);
  }
  .header__nav {
    position: relative;
    top: 70px;
    left: 180px;
    flex-direction: column;
    gap: 20px;
  }
  .header__nav-link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 160%;
    color: #ffffff;
  }
  .header__burger {
    display: block;
    position: relative;
    cursor: pointer;
    width: 46px;
    height: 46px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
  }
  .header__burger::before {
    content: "";
    display: block;
    position: absolute;
    width: 22px;
    height: 2px;
    background-color: #ffffff;
    top: 14px;
    right: 12px;
    transition: all 0.15s ease;
  }
  .header__burger::after {
    content: "";
    display: block;
    position: absolute;
    width: 22px;
    height: 2px;
    background-color: #ffffff;
    bottom: 14px;
    right: 12px;
    transition: all 0.15s ease;
  }
  .header__burger span {
    position: absolute;
    right: 12px;
    display: block;
    width: 28px;
    height: 2px;
    background-color: #ffffff;
    top: calc(50% - 1px);
    transition: all 0.15s ease;
  }
  .header__burger.active span {
    opacity: 0;
  }
  .header__burger.active::before {
    top: 22px;
    width: 25px;
    transform: rotate(-45deg);
  }
  .header__burger.active::after {
    bottom: 22px;
    width: 25px;
    transform: rotate(45deg);
  }
}
@media (max-width: 768px) {
  .header__menu::before {
    width: 163px;
  }
  .header__nav {
    left: 180px;
    top: 60px;
  }
  .header__contacts {
    display: none;
  }
}
@media (max-width: 480px) {
  .header__menu::before {
    width: 108px;
  }
  .header__nav {
    left: 140px;
    top: 40px;
  }
  .header__contacts {
    display: none;
  }
}
@media (max-width: 360px) {
  .header__menu::before {
    width: 40px;
  }
  .header__nav {
    left: 60px;
    top: 20px;
  }
  .header__contacts {
    display: none;
  }
}
.main__inner {
  padding-top: 180px;
  display: flex;
  padding-bottom: 206px;
  position: relative;
}
.main__content {
  width: 100%;
  flex-basis: 50%;
}
.main__content::after {
  content: "";
  position: absolute;
  max-width: 550px;
  max-height: 520px;
  width: 50%;
  height: 100%;
  top: 180px;
  right: 0;
  background: url(..//img/main.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-transform: uppercase;
  color: #8A8A8A;
  margin-bottom: 8px;
}
.main__title {
  font-family: "STIX Two Text";
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 135%;
  color: #ffffff;
  margin-bottom: 16px;
}
.main__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #8A8A8A;
  margin-bottom: 48px;
}
.main__btns {
  display: flex;
  gap: 40px;
  align-items: center;
}

@media (max-width: 1200px) {
  .main__content::after {
    width: 45%;
  }
}
@media (max-width: 1000px) {
  .main__inner {
    padding-top: 86px;
    padding-bottom: 180px;
  }
  .main__title {
    font-size: 48px;
  }
  .main__subtitle {
    font-size: 16px;
  }
  .main__content {
    flex-basis: 45%;
  }
  .main__content::after {
    max-width: 420px;
    max-height: 400px;
    width: 35%;
  }
}
@media (max-width: 768px) {
  .main__inner {
    padding-top: 50px;
    padding-bottom: 140px;
  }
  .main__title {
    font-size: 44px;
  }
  .main__content::after {
    max-width: 270px;
    max-height: 255px;
    width: 50%;
  }
}
@media (max-width: 999.98px) {
  .main__inner {
    padding-top: 67px;
  }
  .main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
    text-align: center;
  }
  .main__content::after {
    display: none;
  }
  .main__btns {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .main__title {
    font-size: 40px;
  }
  .main__content {
    flex-basis: 100%;
  }
  .main__content::after {
    display: none;
  }
}
@media (max-width: 360px) {
  .main__text {
    font-size: 14px;
  }
  .main__inner {
    padding-top: 40px;
  }
  .main__title {
    font-size: 34px;
  }
  .main__subtitle {
    font-size: 14px;
  }
  .main__content::after {
    max-width: 270px;
    max-height: 255px;
    width: 50%;
  }
}
.advantages__inner {
  position: relative;
  display: flex;
  padding-left: 31%;
  flex-direction: column;
  gap: 100px;
  padding-bottom: 160px;
}
.advantages__inner::after {
  content: "";
  position: absolute;
  max-height: 456px;
  width: 30%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../img/advantages.png) center no-repeat;
  background-size: contain;
}
.advantages__item {
  display: flex;
  flex-direction: column;
}
.advantages__list_second .advantages__list-item {
  padding: 10px 60px;
}
.advantages__list_second .advantages__list-item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.advantages__title {
  font-family: "STIX Two Text";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 135%;
  color: #ffffff;
  margin-bottom: 16px;
}
.advantages__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #8A8A8A;
  margin-bottom: 50px;
}
.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.advantages__list-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: calc(50% - 10px);
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}
.advantages__list-item-article {
  font-family: "STIX Two Text";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-bottom: 5px;
}
.advantages__list-item-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  margin: 0 8% 0 0;
  color: #8A8A8A;
}

@media (max-width: 1200px) {
  .advantages::after {
    max-height: 350px;
  }
}
@media (max-width: 1000px) {
  .advantages__inner::after {
    max-height: 350px;
  }
}
@media (max-width: 768px) {
  .advantages__inner {
    padding-left: 0;
  }
  .advantages__inner::after {
    display: none;
  }
}
@media (max-width: 479px) {
  .advantages__title {
    font-size: 28px;
  }
  .advantages__list-item {
    width: 100%;
    padding: 10px;
  }
  .advantages__list-item-article {
    font-size: 28px;
    margin-bottom: 0;
  }
  .advantages__list-item-text {
    font-size: 14px;
  }
}
@media (max-width: 360px) {
  .advantages__title {
    font-size: 24px;
  }
  .advantages__subtitle {
    font-size: 14px;
  }
  .advantages__list-item {
    flex-direction: row;
    gap: 6px;
  }
  .advantages__list-item-article {
    font-size: 24px;
  }
  .advantages__list-item-text {
    font-size: 14px;
  }
}
.services {
  position: relative;
  z-index: 1;
}
.services::after {
  background-color: #ffffff;
}
.services .slick-slide {
  margin: 10px;
  height: 400px !important;
  width: 290px !important;
}
.services__inner {
  padding-top: 160px;
  padding-bottom: 240px;
}
.services__title {
  font-family: "STIX Two Text";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 135%;
  color: #1B1B1B;
  margin-bottom: 16px;
}
.services__info {
  padding-bottom: 420px;
}
.services__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #8A8A8A;
  margin-bottom: 50px;
  max-width: 710px;
}
.services__btn {
  position: relative;
  width: 135px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #DA4533;
  color: #DA4533;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}
.services__btn::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: #DA4533;
  top: 19px;
  right: -15px;
}
.services__btn::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-top: 1px solid #DA4533;
  border-right: 1px solid #DA4533;
  transform: rotate(45deg);
  top: 16px;
  right: -15px;
}
.services__about {
  display: flex;
  justify-content: space-between;
}
.services__slider {
  display: flex;
  gap: 20px;
}
.services__slider-wrap {
  position: absolute;
  left: 0;
  bottom: 240px;
  width: 100%;
}
.services__slider-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  width: 290px;
  height: 400px;
  padding: 20px;
  background-color: #1B1B1B;
  border-radius: 8px;
}
.services__slider-item-img {
  width: 180px;
  height: 180px;
  overflow: hidden;
  margin: 60px auto 0 auto;
}
.services__slider-item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services__slider-item::after {
  content: "";
  position: absolute;
  transform-origin: right top;
  width: 28px;
  height: 3px;
  background-color: #8A8A8A;
  right: 22px;
  top: 20px;
  transform: rotate(-45deg);
  transition: all 0.2s ease;
}
.services__slider-item::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-top: 3px solid #8A8A8A;
  border-right: 3px solid #8A8A8A;
  top: 20px;
  right: 20px;
  transition: all 0.2s ease;
}
.services__slider-item:hover::before {
  border-color: #ffffff;
}
.services__slider-item:hover::after {
  background-color: #ffffff;
}
.services__slider-item:hover .services__slider-item-info {
  transform: translateY(0);
}
.services__slider-item:hover .services__slider-item-article {
  color: #ffffff;
}
.services__slider-item-info {
  position: relative;
  transform: translateY(74px);
  transition: all 0.2s ease;
}
.services__slider-item-article {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #8A8A8A;
  margin-bottom: 5px;
  transition: all 0.2s ease;
}
.services__slider-item-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 165%;
  color: #8A8A8A;
  transition: all 0.2s ease;
}

@media (max-width: 1000px) {
  .services__title {
    font-size: 32px;
  }
  .services__subtitle {
    max-width: 480px;
  }
}
@media (max-width: 768px) {
  .services__about {
    flex-direction: column;
    position: relative;
  }
  .services__about .btn-small {
    position: absolute;
    top: 620px;
    left: 51%;
    transform: translateX(-50%);
  }
  .services__title {
    font-size: 28px;
  }
  .services__subtitle {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .services__about .btn-small {
    top: 650px;
  }
}
.cases {
  background-color: #1B1B1B;
  position: relative;
}
.cases .slick-slide {
  margin: 10px;
  height: 290px !important;
}
.cases__inner {
  padding: 160px 0;
}
.cases__info {
  margin-bottom: 420px;
  display: flex;
  position: relative;
  flex-direction: column;
}
.cases__title {
  font-family: "STIX Two Text";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 135%;
  color: #ffffff;
  margin-bottom: 16px;
}
.cases__btn {
  position: absolute;
  align-self: flex-end;
  bottom: 0;
}
.cases__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #8A8A8A;
  max-width: 707px;
}
.cases__slider-wrap {
  position: absolute;
  left: 0;
  bottom: 240px;
  width: 100%;
}
.cases__slider-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  width: 600px;
  height: 290px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}
.cases__slider-item-img {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 46px;
  width: 290px;
  height: 290px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.05);
}
.cases__slider-item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.cases__slider-item::after {
  content: "";
  position: absolute;
  transform-origin: right top;
  width: 28px;
  height: 3px;
  background-color: #8A8A8A;
  right: 22px;
  top: 20px;
  transform: rotate(-45deg);
  transition: all 0.2s ease;
}
.cases__slider-item::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-top: 3px solid #8A8A8A;
  border-right: 3px solid #8A8A8A;
  top: 20px;
  right: 20px;
  transition: all 0.2s ease;
}
.cases__slider-item:hover::before {
  border-color: #ffffff;
}
.cases__slider-item:hover::after {
  background-color: #ffffff;
}
.cases__slider-item:hover .cases__slider-item-info {
  transform: translateY(0);
}
.cases__slider-item:hover .cases__slider-item-article {
  color: #ffffff;
}
.cases__slider-item-content {
  padding-left: 310px;
}
.cases__slider-item-article {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #F9F9F9;
  margin-top: 45px;
  margin-bottom: 5px;
  transition: all 0.2s ease;
}
.cases__slider-item-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 165%;
  color: #8A8A8A;
  transition: all 0.2s ease;
}

@media (max-width: 1000px) {
  .cases__title {
    font-size: 32px;
  }
  .cases__subtitle {
    max-width: 480px;
  }
}
@media (max-width: 768px) {
  .cases__title {
    font-size: 28px;
  }
  .cases__subtitle {
    max-width: 100%;
  }
  .cases__btn {
    position: absolute;
    top: 580px;
    left: 51%;
    transform: translateX(-50%);
  }
}
@media (max-width: 480px) {
  .cases__btn {
    top: 600px;
  }
}
@media (max-width: 360px) {
  .cases__btn {
    top: 620px;
  }
}
.banner {
  background-color: #DA4533;
}
.banner .container {
  position: relative;
}
.banner__inner {
  display: flex;
  flex-direction: column;
  min-height: 505px;
  max-width: 720px;
  padding: 100px 0;
  justify-content: center;
}
.banner__inner::after {
  content: "";
  position: absolute;
  top: 60px;
  right: 0;
  max-width: 420px;
  max-height: 400px;
  width: 100%;
  height: 100%;
  background: url(../img/banner.svg) center no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.banner__title {
  margin-bottom: 16px;
  font-family: "STIX Two Text";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 135%;
  color: #ffffff;
}
.banner__subtitle {
  margin-bottom: 28px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
}
.banner__btn {
  color: #ffffff;
  background-color: #1B1B1B;
}

@media (max-width: 1200px) {
  .banner__inner::after {
    max-width: 300px;
    max-height: 280px;
  }
}
@media (max-width: 1000px) {
  .banner__title {
    font-size: 32px;
    max-width: 485px;
  }
  .banner__subtitle {
    max-width: 480px;
  }
  .banner__inner::after {
    max-width: 250px;
    max-height: 232px;
  }
}
@media (max-width: 768px) {
  .banner__title {
    font-size: 28px;
  }
  .banner__subtitle {
    max-width: 100%;
  }
}
@media (max-width: 766px) {
  .banner__inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .banner__inner::after {
    display: none;
  }
}
.footer__inner {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 50px;
}
.footer__logo img {
  width: 209px;
  height: 47px;
}
.footer__upper-info {
  display: flex;
  gap: 20px;
}
.footer__upper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 50px;
  position: relative;
}
.footer__upper::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, #5C5C5C 0%, rgba(92, 92, 92, 0.5) 55.16%, rgba(92, 92, 92, 0) 100.87%);
  opacity: 0.8;
}
.footer__description {
  max-width: 515px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 165%;
  color: #8A8A8A;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  max-width: 290px;
  gap: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 165%;
  color: #ffffff;
}
.footer__address {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 165%;
}
.footer__licenses {
  display: flex;
  gap: 15px;
}
.footer__licenses-item span {
  color: #8A8A8A;
}
.footer__lower {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 50px;
}
.footer__social {
  display: flex;
  justify-content: space-between;
}
.footer__social-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__social-nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__social-nav-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
}
.footer__social-nav-link:nth-child(3) {
  text-transform: uppercase;
}
.footer__social-article {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #5C5C5C;
}
.footer__copyright {
  display: flex;
  justify-content: space-between;
}
.footer__copyright-copy {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 165%;
  color: #5C5C5C;
}
.footer__copyright-offer {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 165%;
  color: #ffffff;
}
.footer__copyright-terms {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 165%;
  color: #ffffff;
}

@media (max-width: 1000px) {
  .footer__contacts {
    flex-direction: row;
    gap: 20px;
    max-width: 400px;
  }
  .footer__licenses {
    flex-direction: column;
    gap: 0;
  }
  .footer__upper-info {
    flex-direction: column;
  }
  .footer__social-item:last-child {
    display: none;
  }
}
@media (max-width: 768px) {
  .footer__description {
    max-width: none;
  }
  .footer__upper {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  .footer__social {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .footer__copyright {
    flex-direction: column;
    gap: 6px;
  }
}
@media (max-width: 480px) {
  .footer__contacts {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */