.solutions {
    margin-bottom: 160px;
    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-family: 'STIX Two Text';
        font-style: normal;
        font-weight: 400;
        font-size: 38px;
        line-height: 135%;
        color: $white;

        margin-bottom: 50px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        &-item {
            padding: 20px;
            width: calc((100% - 40px) / 3);
            min-height: 180px;

            border-radius: 8px;
            background-color: $transp5;

            &-article {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 160%;
                color: $white;
                margin-bottom: 5px;
            }

            &-text {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                color: $grayLight;
            }
        }
    }
}

@media(max-width: 1200px)
{

}

@media(max-width: 1000px)
{

}

@media(max-width: 768px)
{
    .solutions__list-item {
        width: 100%;
        min-height: fit-content;
    }
}

@media(max-width: 480px)
{

    
}