.page-path {
    position: relative;
    
    &__btn {
        position: absolute;
        z-index: 10;
        transform: translate(10px,-2px);
    }

    &__nav {
        position: relative;
        padding-left: 60px;

        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        &-link {
            position: relative;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: $grayLight;

            &::after {
                content: "";
                position: absolute;
                width: 5px;
                height: 5px;
                border-right: 1px solid $grayLight;
                border-bottom: 1px solid $grayLight;
                transform: rotate(-45deg);
                top: 10px;
                right: -12px;
            }

            &:last-child {
                color: $red;

                &::after {
                    display: none;
                }
            }

            
        }
    }
}