.arrow {

    &-next,
    &-prev {
        cursor: pointer;
        position: absolute;
        bottom: 180px;
        border: 1px solid $red;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    &-prev {
        left: calc(50% - 50px);

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 40px;
            left: -20px;
            top: 50%;
            height: 1px;
            background-color: $red;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            top: calc(50% - 5px);
            left: -20px;
            border-top: 1px solid $red;
            border-left: 1px solid $red;
            transform: rotate(-45deg);
        }
    }
    &-next {
        right: calc(50% - 50px);

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 40px;
            right: -20px;
            top: 50%;
            height: 1px;
            background-color: $red;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            top: calc(50% - 5px);
            right: -20px;
            border-top: 1px solid $red;
            border-right: 1px solid $red;
            transform: rotate(45deg);
        }
    }
}