.cases {
    background-color: $black;
    position: relative;

    .slick {
        &-slide {
            margin: 10px;
            height: 290px !important;
        }
    }

    &__inner {
        padding: 160px 0;
    }

    &__info {
        margin-bottom: 420px;
        display: flex;
        position: relative;
        flex-direction: column;
    }

    &__title {
        font-family: 'STIX Two Text';
        font-style: normal;
        font-weight: 400;
        font-size: 38px;
        line-height: 135%;
        color: $white;
        margin-bottom: 16px;
    }

    &__btn {
        position: absolute;
        align-self: flex-end;
        bottom: 0;
    }

    &__subtitle {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        color: $grayLight;
        max-width: 707px;
    }

    &__slider {
        &-wrap {
            position: absolute;
            left: 0;
            bottom: 240px;
            width: 100%;
        }

        &-item {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow: hidden;
            width: 600px;
            height: 290px;
            padding: 20px;

            background-color: $transp5;
            border-radius: 8px;

            &-img {
                position: absolute;
                left: 0;
                top: 0;
                padding: 0 46px;
                width: 290px;
                height: 290px;
                overflow: hidden;

                background: $transp5;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            &::after {
                content: "";
                position: absolute;
                transform-origin: right top;
                width: 28px;
                height: 3px;
                background-color: $grayLight;
                right: 22px;
                top: 20px;
                transform: rotate(-45deg);

                transition: all .2s ease;
            }

            &::before {
                content: "";
                position: absolute;
                width: 18px;
                height: 18px;
                border-top: 3px solid $grayLight;
                border-right: 3px solid $grayLight;
                top: 20px;
                right: 20px;

                transition: all .2s ease;
            }

            &:hover::before {
                border-color: $white;
            }

            &:hover::after {
                background-color: $white;
            }

            &:hover &-info {
                transform: translateY(0);
            }

            &:hover &-article {
                color: $white;
            }

            &-content {
                padding-left: 310px;
            }

            &-article {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 160%;
                color: $smoke;

                margin-top: 45px;
                margin-bottom: 5px;
                transition: all .2s ease;
            }

            &-description {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 165%;
                color: $grayLight;
                transition: all .2s ease;
            }

        }


    }
}


@media(max-width: 1200px) {}

@media(max-width: 1000px) {
    .cases__title {
        font-size: 32px;
    }

    .cases__subtitle {
        max-width: 480px;
    }
}

@media(max-width: 768px) {
    .cases__title {
        font-size: 28px;
    }

    .cases__subtitle {
        max-width: 100%;
    }

    .cases__btn {
        position: absolute;
        top: 580px;
        left: 51%;
        transform: translateX(-50%);
    }
}

@media(max-width: 480px) {
    .cases__btn {
        top: 610px;
    }
}

@media(max-width: 360px) {
    .cases__btn {
        top: 660px;
    }
}